* {
    font-family: sans-serif;
    margin: 0;
}
.mddisplay {
    height: 40vw !important;
    overflow: auto;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    line-height: auto;
  }
body{
  background-color: #fff;
}
body .darkmode{
  background-color:#1b1f2d ;
}
.mdinputarea {
    min-width: 10vw;
    width: 40vw;
    resize: horizontal;
    overflow: auto;
    height: 80vh;
    padding: 15px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 15px;
    border: 3px solid #000;
}
.mdinputarea:focus {
    outline: none !important;
    border: 3px solid #3182ce;
}
.mdeditor {
    display: flex;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track-piece {
    background: #000;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius:10px;
    background-color: #fff;
    border: 3px solid #000;
  }
  ::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
  @media only screen and (max-width: 700px) {
    .mdeditor {
        display: block;
    }
    .mddisplay {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        overflow: auto;
    }
    .mdinputarea {
        resize: vertical;
        overflow: auto;
        width: 88vw !important;
        height: 40vw! important;
    }
}
.nav{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-togglesize{
  display: flex;
  justify-content: center;
  align-items: center;
}
.togglefontsize-btn{
  border : none;
  border-radius: 5px;
  font-size: 30px;
  background-color:#f0f0f0 ;
  cursor: pointer;
  transition: 0.5s;
}
.togglefontsize-btn:hover{
  background-color:#c0bbbb ;
}
.togglefontsize-btn:active{
  font-size: 25px;
}
.togglefontsize-text{
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}
/* icon */
.react-icon{
  font-size: 30px;
  align-items: center;
  display: flex;
  margin-right: 2px;
}