* {
  font-family: sans-serif;
  margin: 0;
}

.mddisplay {
  overflow: auto;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  line-height: auto;
  width: 60vw;
  height: 80vh;
}

body {
  padding-bottom: 0;
  padding-top: 10px;
  transition: 0.1s;
}

.mdinputarea {
  min-width: 10vw;
  width: 40vw;
  resize: horizontal;
  overflow: auto;
  height: 80vh;
  padding: 15px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 15px;
  transition: 0.1s;
}

.mdinputarea:focus {
  outline: none !important;
  border: 3px solid #3182ce !important;
}

.mdeditor {
  display: flex;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  border: 3px solid #000;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

@media only screen and (max-width: 700px) {
  .mdeditor {
    display: block;
  }

  .mddisplay {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
    width: 88vw !important;
    height: 40vw ! important;
  }

  .mdinputarea {
    resize: vertical;
    overflow: auto;
    width: 88vw !important;
    height: 40vw ! important;
  }
}

.nav {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-togglesize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.togglefontsize-btn {
  border: none;
  border-radius: 5px;
  font-size: 30px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: 0.2s;
}

.togglefontsize-btn:hover {
  background-color: #c0bbbb;
}

.togglefontsize-btn:active {
  font-size: 25px;
}

.togglefontsize-text {
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

/* icon */
.react-icon {
  font-size: 30px;
  align-items: center;
  display: flex;
  margin-right: 2px;
}

.quickadd-btn {
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 5px;
  font-size: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 13px;
  padding-right: 13px;
}

.quickadd-btn:hover {
  background-color: #c0bbbb;
}

.quickadd-btn:active {
  font-size: 20px;
}

.togglecolormode-btn {
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: 0.2s;
  font-size: 22px;
  margin-left: 10px;
  padding: 5px;
}

.togglecolormode-btn:hover {
  background-color: #c0bbbb;
}

.togglecolormode-btn:active {
  font-size: 18px;
}

.download-btn {
  background-color: #7e73ff;
  border-radius: 5px;
  font-size: 23px;
  border: none;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.download-btn:active {
  font-size: 18px;
}

.download-btn:hover {
  background-color: #a199ff;
}

.rename-input {
  border-radius: 5px;
  border: solid 3px #000;
  position: relative;
  font-size: 25px;
  padding: 5px;
  font-family: monospace;
}

.rename-input:focus {
  outline: none !important;
  border: solid 3px #3182ce !important;
}

.downloadwindow {
  color: #000 !important;
  position: absolute;
  /* border: solid 2px #000 ; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.downloadinput-div {
  display: flex;
}

.downloadinput-div>h2 {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 25px;
}

.downloadinput-btn-div {
  margin-top: 10px;
}

.downloadinput-btn2 {
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 5px;
  background-color: #dfe3de;
  transition: 0.2s;
}

.downloadinput-btn2:hover {
  background-color: #c4c4c4;
}

.downloadinput-btn1 {
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 5px;
  background: #12b50d;
  transition: 0.2s;
}

.downloadinput-btn1:hover {
  background-color: #0f960b;
}

.info {
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(219, 219, 219);
  padding: 5px;
  height: 30px;
  width: 30px;
  opacity: 5px;
  transition: 0.2s;
}
.info:hover{
  background-color: rgb(148, 148, 148);
}
.info-link {
  color: #fff !important;
  font-size: 35px;
  position: relative;
  right: 2px;
  top: -2px;

}